# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates
.vs/
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# IDE
.idea/
*.swp
*.swo
*~
